@font-face {
  font-family: 'Special Elite';
  src: url("./assets/fonts/Special_Elite/SpecialElite-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/Open_Sans/OpenSans-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url("./assets/fonts/Open_Sans/OpenSans-LightItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  src: url("assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url("assets/fonts/Open_Sans/OpenSans-SemiBold.ttf") format('truetype');
}


body {
  background: black;
  margin: 0;
  padding: 0;
}

html {
  --primary-color: #3d3d3d;
  --primary-dark-color: #212121;
  --text-color: #333;
  --warning-color: #b33939;
  --background-color: #fff;

  
  --font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Special Elite', cursive;

  --spacer-0: 0px;
  --spacer-1: 2px;
  --spacer-2: 4px;
  --spacer-3: 8px;
  --spacer-4: 16px;
  --spacer-5: 32px;
  --spacer-6: 64px;

  --font-size-smaller: 1rem;
  --font-size-small: 1.4rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2.4rem;
  --font-size-larger: 3rem;
}

* {
  font-family: var(--font-family);
}

//dog-ui-container {
//  z-index: 10 !important;
//}
